<div class="nav-bar__container" th:fragment="navigation">
  <nav class="nav-bar">
    <div class="nav-bar__brand">
      <a href="/">
        <img
          class="nav-bar__logo"
          src="https://cdn.auth0.com/blog/hub/code-samples/hello-world/auth0-logo.svg"
          alt="Auth0 shield logo"
          width="122"
          height="36"
        />
      </a>
    </div>

    <div class="nav-bar__tabs">
      <a class="nav-bar__tab" href="/profile">Profile</a>
      <a class="nav-bar__tab" href="/public">Public</a>
      <th:block sec:authorize="isAuthenticated()">
        <a class="nav-bar__tab" href="/protected">Protected</a>
        <a class="nav-bar__tab" href="/admin">Admin</a>
      </th:block>
    </div>

    <div class="nav-bar__buttons">
      <th:block sec:authorize="!isAuthenticated()">
        <a class="button__sign-up" th:href="@{/signup}">Sign Up</a>
        <a class="button__login" th:href="@{/login}">Log In</a>
      </th:block>

      <th:block sec:authorize="isAuthenticated()">
        <a class="button__logout" th:href="@{/logout}">Log Out</a>
      </th:block>
    </div>
  </nav>
</div>
